<template lang="pug">
  div.home
    a-scene(embedded, getclick, emitevents='true', cursor="rayOrigin: mouse", arjs='sourceType: webcam; trackingMethod: best; debugUIEnabled: false;')
      a-marker(preset='hiro', id="animated-marker")        
        a-entity(animation="property: vertex-b; to: -1 5 -10; dur: 1000", obj-model="obj: url(../static/camp2/1224 Campfire.obj); mtl: url(../static/camp2/1224 Campfire.mtl)", scale="0.05 0.05 0.05", lookat="#camera", id="fire") 
      a-entity(camera, id='camera')
</template>
<style>
  .home{
    overflow: hidden;
    height: 100vh;
  }
</style>
<script>
export default {
  data() {
    return {
    }
  },
  mounted () {
    let elem = document.querySelector("#fire")
    var geometry = elem.getObject3D('mesh').geometry
    setInterval( () => {
      geometry.attributes.position.array.forEach(element => {
        element += 0.2
      })
      geometry.attributes.position.needsUpdate = true
    }, 500)

  },
  methods: {
  }
}
</script>
