<template lang="pug">
  div.home
    a-scene(embedded, arjs='trackingMethod: best; debugUIEnabled: false;')
      a-marker(preset='hiro')
        a-entity(obj-model="obj: url(../static/rio/model-triangulated.obj); mtl: url(../static/rio/materials.mtl)", scale='0.5 0.5 0.5')
        //- a-box(position='0 0.5 0', material='opacity: 0.5;')
      a-marker(preset='kanji')
        a-entity(obj-model="obj: url(../static/port/model-triangulated.obj); mtl: url(../static/port/materials.mtl)", scale='0.5 0.5 0.5')
      a-entity(camera)
</template>
<style>
  .home{
    overflow: hidden;
    height: 100vh;
  }
</style>
<script>


export default {
  name: 'multimarker',
  components: {
  }
}
</script>
