<template lang="pug">
  div.home
    a-scene(embedded, getclick, emitevents='true', cursor="rayOrigin: mouse", arjs='sourceType: webcam; trackingMethod: best; debugUIEnabled: false;', stats)
      a-marker(preset='hiro', id="animated-marker")        
        a-entity(obj-model="obj: url(../static/rio/model-triangulated.obj); mtl: url(../static/rio/materials.mtl)", scale="0.5 0.5 0.5", rotation="0 0 0")
        a-text(v-if='clickEx', value="COUCOU", look-at="#camera", position="0 0 -1", opacity='1', id="text-info")
        a-box(v-if='clickEx', @click='clickEx = !clickEx' scale="0.4 0.4 0.4", color="#4CC3D9", opacity='1', id="close-marker", position="0.948 0 -1")
        a-entity(obj-model="obj: url(../static/exclamation/Tricky Exclamation Point.obj);", id="animated-model", scale="2 2 2", rotation="90 0 0", position="-0.024 1.637 -0.673", look-at="#camera")   
      a-marker(preset='kanji')
        a-entity(obj-model="obj: url(../static/port/model-triangulated.obj); mtl: url(../static/port/materials.mtl)", scale='0.5 0.5 0.5')
      //- a-entity(camera, id='camera')
      a-camera-static
</template>
<style>
  .home{
    overflow: hidden;
    height: 100vh;
  }
</style>
<script>
export default {
  name: 'home',
  data() {
    return {
      clickEx: false
    }
  },
  mounted () {
    let thus = this
    const animatedModel = document.querySelector('#animated-model')
    let closeMark = document.querySelector('#close-marker')
    let textInfo = document.querySelector('#text-info')    
    document.querySelector('#animated-model').addEventListener('click', function(e) {
      thus.clickEx = true
    })
  },
  methods: {
    changeVal(val) {
      console.log('val')
      this.clickEx = val
    }
  }
}
</script>
