<template lang="pug">
  div.home
    span WIthout
    a-scene(ar)
      a-entity(obj-model="obj: url(../static/astronaut/Astronaut.obj); mtl: url(../static/astronaut/Astronaut.mtl)", scale='0.05 0.05 0.05')
</template>
<style>
  .home{
    overflow: hidden;
    height: 100vh;
  }
</style>
<script>


export default {
  name: 'multimarker',
  components: {
  }
}
</script>
